.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.grid-6 .card {
  font-size: 24px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background-color: #304859;
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  font-size: 36px;
  font-weight: bold;
}

.card.matched {
  background-color: #bcced9;
}

.selected-card {
  background-color: #fda214;
}
